@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: rgb(240, 248, 255);
  font-size: 16px;
  max-width: 960px;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-template-areas: 
	"flag introduction map"
	"geography people government";
}

#flag{
	grid-area: flag;
}

#introduction {
  grid-area: introduction;
}

#map{
	grid-area: map;
}

#geography{
	grid-area: geography;
}

#people{
	grid-area: people;
}

#government{
	grid-area: government;
}