main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-template-areas: 
	"flag introduction map"
	"geography people government";
}

#flag{
	grid-area: flag;
}

#introduction {
  grid-area: introduction;
}

#map{
	grid-area: map;
}

#geography{
	grid-area: geography;
}

#people{
	grid-area: people;
}

#government{
	grid-area: government;
}