@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 0;
  margin-left: 10px;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-template-areas: 
	"asiaMap northMap europeMap"
	"asia north europe";
}

h1{
	border-bottom: 1px solid rgb(255, 0, 0);
	border-top: 1px solid rgb(255, 0, 0);
	text-shadow: .2em .2em .3em rgb(192,192,192);
	text-align: left;
}

h1,
h2 {
	font-family: "Catamaran", "Helvetica", "Arial", sans-serif;
	font-weight: 900;
}

h2,
h3{
	border: 6px solid rgb(192,192,192);
	text-shadow: -1px -1px 2px #ccc;
	word-spacing: 5px;
	padding-left: 5px;
	margin-top: 0;
}

p {
	max-width: 960px;
	line-height: 1.35;
	white-space: normal;
	overflow: scroll;
	letter-spacing: 2px;
	margin: 0;
}

figure{
	margin: 1px;
	padding: 20px 20px 30px 20px;
 	width: 350px;
 	overflow: scroll;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  text-align: left;
}

img {
  border: 2px solid #555;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
}

a:link{
	color: rgb(0, 0, 255);
}

a:visited {
	color: rgb(128, 0, 128);
}

a:hover {
	color: rgb(255, 0, 0);
	text-decoration: underline;
}

a:active {
	color: rgb(255, 255, 0);
}

table {
	width: 100%;
}

th, td{
	height: 30px;
	text-align: left;
	background-color: rgba(255, 0, 0, 0.3);
	padding: 15px;
}

tr:hover{
	background-color: rgb(255, 0, 0);
}

ul > li {
	list-style-type: circle;
}


nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(180, 180, 180);
}

nav ul li{
	display: inline;
	float: left;
}

nav ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover{
	background-color: #111;
}

time{
	font-style: italic;
}

#asiaMap{
	grid-area: asiaMap;
}

#northMap{
  grid-area: northMap;
}

#introduction h2 + p{
  padding: 10px 20px;
}

#europeMap{
	grid-area: europeMap;
}

#europe{
	grid-area: europe;
}

#north{
	grid-area: north;
}

#asia{
	grid-area: asia;
}

.first {
  padding-left: 15px;
}

.button{
  	border: none;
  	color: #000000;
  	padding: 10px 24px;
  	border-radius: 8px;
  	border: 2px solid #1e90ff;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	margin: 4px 2px;
  	cursor: pointer;
}
