body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

main {
  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

h2 {
  margin-top: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

header,
footer {
  padding-left: 20px;
}

section {
  background-color: #ddd;
  padding: 20px;
}


header {
  grid-column: 1 / 3;
}


nav {
  grid-row: 2 / 4;
}

footer {
  grid-column: 2 / 3;
}