body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

.first {
  font-weight: normal;
  color: rgb(231,209,75);
  border: 1px dashed rgb(69,105,159); /* blue */
  padding-left: 16px;
}

.second {
	font-weight: bold;
}