body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: rgb(240, 248, 255)
}

#introduction {
  background-color: rgba(248, 248, 255, 0.9); 
  border: 1px normal rgb(69,105,159);
}

.first {
  border: 1px normal rgb(128, 0, 0); 
  padding-left: 16px;
  background-color: rgba(255, 0, 0, 0.3)
}

ul > li {
	list-style-type: square;
}

#geography h3 + h4 + p{
	font-weight: bold;
}